use std::{fs, path::Path};

pub fn solve(file_path: &Path) {
    // AOC 2023 Day n P1+P2
    println!("Day n");
    let data = fs::read_to_string(file_path).expect("Could not read input");

    //println!("First part results: {}", results);
    //println!("Second part results: {results2}\n")
}
